.page-header {
    background-color: $main-color;
    border-bottom: 1px solid $border-color;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav,
.contacts-nav {
    display: flex;
}

.site-nav .item+.item {
    margin-left: 50px;
}

.site-nav .link,
.contacts-nav .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.contacts-nav {
    margin-left: auto;
}

.contacts-nav .item+.item {
    margin-left: 50px;
}

.site-nav .link,
.title {
    color: $primary-title-color;
}

.text,
.contacts-nav .link {
    color: $primary-text-color;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link .icon {
    margin-right: 10px;
    fill: currentColor;
}

.logo-web,
.header-link.current,
.header-link:hover,
.header-link:focus,
.footer-list .link:hover,
.footer-list .link:focus {
    color: $accent-color;
}

.ancor::after {
    display: flex;
    content: "";
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
}

.studio-black {
    color: $black-logo;
}

.studio-white {
    color: $main-color;
}

.logo-link {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: $main-letter-spacing;
}

.page-header .logo-link {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}