.footer-form-wrapper {
    margin-left: auto;
}

.footer-form {
    display: flex;
    align-items: flex-end;
}

.footer-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: $main-letter-spacing;
    text-transform: uppercase;
    color: $main-color;
}

.footer-mail-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    outline: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: $main-letter-spacing;
    padding: 15px 16px;
    margin-top: 20px;
    margin-right: 12px;
    color: $main-color;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-input:focus,
.footer-mail-input:hover {
    border: 1px solid $accent-color;
}

.footer-mail-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: $accent-color;
    color: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: $button-shadow-bg;
}

.footer-span {
    margin-right: 10px;
}

.icon-send {
    fill: currentColor;
}