$main-color: #ffffff;
$primary-title-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$black-logo: #000000;
$primary-bg-color: #2f303a;
$team-bg-color: #f5f4fa;
$footer-link-color: rgba(255, 255, 255, 0.6);
$button-box-shadow: rgba(0, 0, 0, 0.15);
$button-shadow-bg: #188ce8;
$main-letter-spacing: 0.03em;
$border-color: #ececec;
$border-second-color: #eeeeee;
$icon-bg-color: #afb1b8;
$logo-footer-color: #ffffff;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;